<ion-view view-title="Playlists">
  <ion-content class="playlists">

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Add playlist" ng-model="data.newPlaylist">
        </label>
        <button class="button button-small" ng-click="addPlaylist(data)">
          Submit
        </button>
      </div>
    </div>

    <ion-list type="card">
      <ion-item class="item-icon-right" ng-repeat="playlist in data.playlists" type="item-text-wrap">
        <h2>{{playlist.title}}</h2>
        <p>{{playlist.lastText}}</p>
        <p>duration: {{playlist.totalDuration | date:'mm:ss'}}</p>
        <p>coolness factor: {{playlist.coolnessFactor}}</p>
        <form ng-submit="addTags($index)">
          <input type="text" ng-model="data.tags" placeholder="add tag">
          <span class="tags" ng-repeat="tag in playlist.tags"> {{tag}}<span class="ion-close-circled" ng-click="removeTags($index)"></span></span>
        </form>
        <a href="#/tab/playlists/{{$index}}">
          <i class="icon ion-chevron-right icon-accessory" ></i>
        </a>
        <ion-option-button class="button-assertive" ng-click="remove($index)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
